{% import 'ckihook_macros.j2' as cki_macros %}
{% for pipeline in pipelines.success %}
- {{ cki_macros.result_label_str(pipeline) }} was successful.
{% endfor %}
{% for pipeline in pipelines.waived %}
- {{ cki_macros.result_label_str(pipeline) }} has been waived.
{% endfor %}
