{# Linkify the PipelineResult without a newline. #}
{% macro result_label_str(pipeline) %}
  {% if pipeline.ds_url %}
    {% set bridge_name = '[%s](%s)' % (pipeline.bridge_name, pipeline.ds_url) %}
  {% else %}
    {% set bridge_name = pipeline.bridge_name %}
  {% endif %}
  {% if pipeline.label %}
    {% set label_str = '~"%s" ' % (pipeline.label) %}
  {% else %}
    {% set label_str = '' %}
  {% endif %}
{{ label_str }}{{ bridge_name }}
{%- endmacro -%}

{# Prints a line with the list of test maintainer GL usernames, @ing them if is_draft is False. #}
{% macro maintainers_list(test, is_draft, key_type) %}
  {% if test.misc['maintainers'] %}
    {% if is_draft or key_type != 'Blocking' %}
      {% set prefix = '' %}
    {% else %}
      {% set prefix = '@' %}
    {% endif %}
    {% set maintainers = test.misc['maintainers'] | join(', %s' % prefix, attribute='gitlab_username') %}
{{ prefix }}{{ maintainers -}}
  {% else %}
Unknown
  {% endif %}
{%- endmacro -%}
